.footer {
  margin-top: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .copyright {
    font-size: .9em;
    opacity: .8;
  }
}
